
body {
    background-color: #386767;
    color: #222;
    font-family: 'Roboto', serif;
    margin: 0;
}

#page-header {
    font-family: 'Roboto', serif;
    font-weight: normal;
    text-align: center;
    color: lightgoldenrodyellow;
}
#page-header h1 {
    font-size: 3em;
}

#player-score-container {
    padding: 4px;
}

.player-score {
    background-color: white;
    height: 54px;
    display: flex;
    align-items: center;
    border: 1px solid #222;
    box-sizing: border-box;
    margin-top: 2px;
}

.player-score .profile-image {
    height: 100%;
}

.player-score .profile-name {
    margin-left: 8px;
}

.player-score .profile-user-score {
    flex-grow: 1;
    text-align: right;
    padding-right: 16px;
    font-size: large;
}

#graph-container {
    display: none;
}

#btn-toggle-graph-container {
    text-align: center;
}
